@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-wrap: anywhere;
}
.ql-editor {
  font-size: 1.5rem;
  line-height: 1.5;
  height: max-content;
}
.ql-container {
  height: 100%;
  border: 1px solid #ccc;
}
p,
li,
a {
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgb(73, 73, 73);
  margin-bottom: 10px;
}
h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
  margin-bottom: 10px;
}
h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
  margin-bottom: 10px;
}
h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
  margin-bottom: 10px;
}
h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
  margin-bottom: 10px;
}
h5 {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
  margin-bottom: 10px;
}
h6 {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
  margin-bottom: 10px;
}
